<%= simple_form_for(@store) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="card-body">
    <div class="form-inputs">
      <%# Name %>
      <%= f.input :name, label: "Nombre" %>

      <%# Store type %>
      <div class="form-group">
        <%= f.input :store_type_id,
          collection: @store_types,
          required: true,
          :input_html => {
            title: "Seleccionar tipo",
            include_blank: false,
            class: 'selectpicker',
            "data-width"=>"100%",
            "data-size"=>"10",
          } 
        %>
      </div>

      <%# CUIT %>
      <%= f.input :cuit %>

      <%# Address %>
      <%= f.input :address %>

      <%# Description %>
      <%= f.input :description %>
    </div>
  </div>

  <div class="card-footer">
    <div class="form-actions text-right">
      <%= link_to t('actions.back'), stores_path, class: 'btn btn-light mr-2' %>
      <%= f.button :submit, class: 'btn btn-success' %>
    </div>
  </div>
<% end %>