<tr id="store_<%= store.id %>">
  <!-- Store: name -->
  <td>
    <%= store.name %>
  </td>
  
  <!-- Store: user count -->
  <td>
    <span class="badge badge-info">
      <%= store.users_count %>
    </span>
  </td>

  <!-- Store: client count -->
  <td>
    <span class="badge badge-info">
      <%= store.clients_count %>
    </span>
  </td>

  <!-- Store: type -->
  <td>
    <%= store.store_type_name %>
  </td>

  <!-- Store: created at -->
  <td>
    <%= store.created_at.strftime("%d/%m/%y") %>
  </td>

  <!-- Store: updated at -->
  <td>
    <%= store.created_at.strftime("%d/%m/%y") %>
  </td>

  <!-- Action buttons -->
  <td class="mx-auto">
    <%= render(
            partial: 'shared/action_buttons',
            locals:{ 
                object: store, 
                show: true, 
                edit: true, 
                destroy: true
            }
        ) 
    %>
  </td>
</tr>