<tr id="store_<%= store.id %>">
  <!-- Tienda: nombre -->
  <td>
    <%= store.name %>
  </td>
  
  <!-- Tienda: cantidad de usuarios -->
  <td>
    <span class="badge badge-info">
      <%= store.users_count %>
    </span>
  </td>

  <!-- Tienda: tipo -->
  <td>
    <%= store.store_type_name %>
  </td>

  <!-- Tienda: fecha creación -->
  <td>
    <%= store.created_at.strftime("%d/%m/%y") %>
  </td>

  <!-- botones de acción -->
  <td class="mx-auto">
    <div class="d-flex justify-content-end">
      <!-- Mostrar -->
      <% if policy(store).show? %>
        <%= link_to store_path(store), class: 'btn btn-sm btn-secondary mr-1 ml-1', 
          title: 'Ver', data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= fa_icon "eye" %>
        <% end %>
      <% end %>

      <!-- Editar -->
      <% if policy(store).edit? %>
        <%= link_to edit_store_path(store), class: 'btn btn-sm btn-warning mr-1 ml-1', title: 'Editar', data: { toggle: 'tooltip', placement: 'top'} do %>
          <%= fa_icon "pen" %>
        <% end %>
      <% end %>

      <!-- Eliminar -->
      <% if policy(store).destroy? %>
        <%= link_to delete_store_path(store), remote: true, class: 'btn btn-sm btn-danger mr-1 ml-1',
        title: 'Eliminar', data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= fa_icon "trash" %>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>