<%= render "header" %>

<div class="row">
  <div class="col-6 mx-auto">
    <div class="card">
      <div class="card-header bg-warning">        
        <h5 class="title">
          <%= fa_icon "plus" %> Editar tienda
        </h5>
      </div>
      <div class="card-body fixed-panel-store">
        <%= render 'form', store: @store %>
      </div> 
      <div class="card-footer text-right">
        <%= link_to stores_path, class: "btn btn-light mr-1" do %>
          Volver
        <% end %>
        <button type='submit' name='commit' class='btn btn-primary mr-1' form='edit_store_<%= @store.id %>' value='Guardar'>
          <%= fa_icon "save" %> Guardar cambios
        </button>
      </div>
    </div>
  </div>
</div>