<tr id="client_<%= client.id %>">
  <!-- client: fullname -->
  <td>
    <%= client.fullname %>
  </td>
  
  <!-- client: email -->
  <td>
    <span class="badge badge-secondary">
      <%= client.email %>
    </span>
  </td>

  <!-- client: client count -->
  <td>
    <span class="badge badge-info">
      0
    </span>
  </td>

  <!-- client: created at -->
  <td>
    <%= client.created_at.strftime("%d/%m/%y") %>
  </td>

  <!-- client: updated at -->
  <td>
    <%= client.created_at.strftime("%d/%m/%y") %>
  </td>

  <!-- Action buttons -->
  <td class="mx-auto">
    <%= render(
            partial: 'shared/action_buttons',
            locals:{ 
                object: client, 
                show: true, 
                edit: true, 
                destroy: true
            }
        ) 
    %>
  </td>
</tr>