<%= simple_form_for(@client) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%# Name %>
    <%= f.input :fullname, label: "Nombre y apellido" %>

    <%# DNI %>
    <%= f.input :dni, label: "DNI" %>

    <%# CUIT %>
    <%= f.input :cuit, label: "CUIT" %>

    <%# Phone %>
    <%= f.input :phone, label: "Teléfono" %>

    <%# Email %>
    <%= f.input :email, label: "Email" %>
  </div>
<% end %>