<div id="filterrific_results">
  <div class="card">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th><%= Client.human_attribute_name(:fullname) %></th>
          <th><%= Client.human_attribute_name(:email) %></th>
          <th>Compras</th>
          <th><%= Client.human_attribute_name(:created_at) %> <%= fa_icon "calendar" %></th>
          <th><%= Client.human_attribute_name(:updated_at) %> <%= fa_icon "calendar" %></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="clients">
        <%= render @clients %>
      </tbody>
    </table>
  </div>
  <div id="page_links">
    <%= will_paginate @clients, list_classes: %w(pagination justify-content-center), renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
