<%= render "header" %>

<%= content_for :container do %>-fluid<% end %>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header bg-primary text-white">        
        <h5 class="title">
          <%= fa_icon "plus" %>
          <%= t('actions.new' , model: Client.model_name.human) %>
        </h5>
      </div>
      <%= render 'form', client: @client %>
    </div>
  </div>
</div>