<tr id="product_<%= product.id %>">  
  <!-- Name -->
  <td>
    <%= product.name %>
  </td>

  <!-- Code -->
  <td>
    <%= product.code %>
  </td>
  
  <!-- Cost price -->
  <td>
    <%= product.cost_price %>
  </td>
  
  <!-- Sale price -->
  <td>
    <%= product.sale_price %>
  </td>
  
  <!-- Store price -->
  <td>
    <%= product.store_price %>
  </td>

  <!-- Action buttons -->
  <td class="mx-auto">
    <%= render(
            partial: 'shared/action_buttons',
            locals:{ 
                object: product, 
                show: true, 
                edit: true, 
                destroy: true
            }
        ) 
    %>
  </td>
</tr>