<% render "header" %>

<% content_for :container do %>-fluid<% end %>

<!--Listado-->
<div class="row">
  <div class="col-12">
    <div class="card mb-3">
      <div class="card-header">
        <div class="row">
          <div class="col-5">
            <div class="pb-2 mb-2 border-bottom h5">
              <%= fa_icon "boxes" %>
              <%= Product.model_name.human(count: 2).humanize %>
            </div>
          </div>
          <div class="col-1"><%= render_filterrific_spinner %></div>
          <div class="col-6">
            <%= render "filter" %>
          </div>
        </div>
      </div>
      <div class="card-body" id="products-list">
        <%= render(
          partial: 'products/list',
          locals: { products: @products }
        ) %>
      </div>
    </div>
    <%= will_paginate @products, list_classes: %w(pagination justify-content-center), renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
