<%= render "header" %>

<% content_for :container do %>-fluid<% end %>

<div class="row">
  <div class="col-12">
    <div class="card mb-3">
      <div class="card-header bg-secondary text-white">
        <div class="row">
          <div class="col-md-8">
            <h5 class="title text-capitalize">
              <%= fa_icon "eye" %>
              <%= t('actions.show' , model: Product.model_name.human) %>
            </h5>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p>
          <strong><%= Product.human_attribute_name(:name) %>:</strong>
          <%= @product.name %>
        </p>

        <p>
          <strong><%= Product.human_attribute_name(:code) %>:</strong>
          <%= @product.code %>
        </p>

        <p>
          <strong><%= Product.human_attribute_name(:cost_price) %>:</strong>
          <%= @product.cost_price %>
        </p>

        <p>
          <strong><%= Product.human_attribute_name(:sale_price) %>:</strong>
          <%= @product.sale_price %>
        </p>

        <p>
          <strong><%= Product.human_attribute_name(:store_price) %>:</strong>
          <%= @product.store_price %>
        </p>

      </div>
      
      <div class="card-footer text-right">
        <%= link_to t('actions.back'), products_path, class: "btn btn-light mr-2" %>
        <%= link_to t('actions.tooltip.edit'), edit_product_path(@product), class: "btn btn-warning" %>
      </div>
    </div>
  </div>
</div>